
:root{
    --clr-white: 0, 0%, 98%;
    --clr-medium-gray: 0, 0%, 41%;
    --clr-black: 0, 0%, 8%;

    --bodybackground-color: hsl(var(--clr-white));
    --nav-links-color: hsl(var(--clr-medium-gray));
    --nav-dropdown-shadow-color: hsla(var(--clr-black), 0.25);
    --btn-bg-color: hsl(var(--clr-white));
    --paragraph-color: hsl(var(--clr-medium-gray));
    --hover-color:hsl(var(--clr-medium-gray));
    --btn-color: hsl(var(--clr-medium-gray));

    /* font weights */
    --fw-400: 400;
    --fw-700: 700;
   
    /* font sizes & margin, padding values */
    /* --fs-paragraph: 0.8rem; */
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
    --font-family:'Epilogue', sans-serif;
}

.html {
    scroll-behavior:smooth;
    font-size: 16px;
  }
  
*, 
*::before, 
*::after{
    box-sizing: border-box;
    font:inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}


@media only screen and (min-width: 300px){

    body{
        min-height: 100vh;
        font-family: var(--font-family);
    }
}

/* Navigation Bar */
nav{
   background-color: hsl(var(--clr-white));
   padding : 0 1rem;
   display: grid;
}


nav ul{
    list-style: none;
    display: grid;
}

nav > ul{
    max-width: 60%;
}


nav > li {
    margin: 0 0.5rem;
}

.dropdown__title {
    background-color: transparent;
    border: none;
}

nav  > ul > li a,
.dropdown__title,
.btn{
    color:var(--nav-links-color);
}

nav  > ul > li a, .dropdown__title {
    text-decoration: none;
    text-align: center;
    display:inline-block;
    font-size: calc(var(--fs-400) * 0.75);
}

nav > ul > li > a, 
.dropdown__title{
    padding: 1rem 0.5rem;
}

/* Rotates arrow svg next to buttons */
.dropdown-arrow{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out 0.15s;
}

.dropdown:hover .dropdown-arrow{
    transform: rotate(180deg);
  }


.dropdown{
    position:relative;
}

.dropdown__menu{
    position: absolute;
    background-color: hsl(var(--clr-white));
    border-radius: 4px;
    box-shadow: var(--nav-dropdown-shadow-color) 0px 13px 27px -5px, var(--nav-dropdown-shadow-color) 0px 8px 16px -8px;
    padding: 0.5rem 0.5rem;
    top: calc(100% - 0.1rem);
    left: 25%;
    transform: translateX(-50%);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: visible;
    transition: 280ms all 128ms ease-out;
}

/* Displaying dropdown menu  */
.dropdown:hover .dropdown__menu,
.dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0) translateX(-50%); 
  visibility: visible;
  
} 

.dropdown__title:hover,
.dropdown__title:focus-visible,
.other-nav-button:hover,
.other-nav-button:focus-visible{
    color:var(--clr-black);
}


.dropdown__menu  a{
    display: inline-block;
    padding: 0.5rem;
}

#features-dropdown > li{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
  } 


#company-dropdown{
    max-width: 15ch;
    width: 100%;
  }

#features-dropdown {
    width: 85%;
    max-width: 15ch;
    display: grid;
    place-items: center;
} 


/* Register&Login Buttons */
.register-button-wrapper{
    display: grid;
    place-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.register-button-wrapper a{
    padding: 0.5rem 0.5rem;
}

.btn{
    background-color: var(--btn-bg-color);
    color:var(--btn-color);
}

.btn:hover,
.btn:focus-visible
{
    color:var(--clr-black);
    border-color: hsl(var(--clr-black));
    cursor: pointer;
}

.register{
    border-radius: 0.75rem;
    border: solid 2px hsl(var(--clr-medium-gray));
    width: 94%;
    max-width: 15rem;
    text-align: center;
  }



/* Hamburger Icons styling */
.hamburger-wrapper,
.hamburger-wrapper-close{
    text-align: right;
    
}


.hamburger-wrapper button,
.hamburger-wrapper-close button{
    display: none;
    background-color: transparent;
    border: none;
    font-size: var(--fs-500);
}



/* Learn-more button styling */
.learn-more-btn{
    border-radius: 1rem;
    border: solid 1px hsla(var(--clr-medium-gray));
    width: 35%;
    min-width: 10rem;
    padding: 1rem;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-black)); 
    line-height: 0.5;
    text-align: center;
}

.learn-more-btn a{
    line-height: 1;
    min-height: fit-content;
}

.learn-more-btn:hover,
.learn-more-btn:focus-visible{
    background-color:hsl(var(--clr-white));
    color: hsl(var(--clr-black));
    cursor: pointer;
}


@media only screen and (min-width:1000px){
    body{
        padding: 1rem;
    }

    header{
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .flex-layout{
        grid-column: 1/span 1;
        display: grid;
        place-items: center;
    }

    nav{
        grid-column: 2/span 1;
        grid-auto-flow: column;
        padding: 0;
        margin-bottom: 2rem;
        margin-left: 3.5rem;
        
    }
    nav > ul{
        grid-auto-flow: column;
        display: grid;
        align-items: start;
        
    }

    .register-button-wrapper{
        grid-auto-flow: column;
        margin-top: 0;
        gap: 0;
        position: relative;
    }

    .register{
        position:absolute;
        right:2.5rem;
        max-width: 8rem;
    }

    #company-dropdown{
        display: grid;
        place-items: start;
        width: 105%;
        max-width: 12ch;
    }

    .dropdown__menu{
        left: 40%;
    }
    
    /* Main Section Styling */
    main{
        display: grid;
        grid-template-columns: 6rem repeat(11, 1fr);
        grid-template-rows: 2fr 6rem;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .hero-image-wrapper{
        grid-column: 8/span 4;
        grid-row: 1/span 2;
    }


    .hero-image-wrapper img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .hero-content-wrapper{
        grid-column: 2/span 5;
        display: grid;
        grid-template-rows: 2fr 1fr;
        margin-top: 12%;
        row-gap: 1rem;
    }
    
    .hero-intro-section{
        grid-row: 1/span 1;
        gap: 1rem;
        display: grid;
        width: 100%;
        padding: 1.5rem 0 1.5rem 0;
       
    }

    .hero-title{
        font-size: var(--fs-900);
        font-weight: var(--fw-700);
        width: 100%;
    }

    .hero-title span{
        display: block;
        width: 100%;
    }

    .hero-text{
        width: 65%;
        line-height: 1.5;
        color: hsl(var(--clr-medium-gray));  
    }
    
    .learn-more-btn-wrapper{
        position: relative;
     
    }

    .learn-more-btn{
        position: absolute;
        top: 0;
        left:0;
        width: 22%;
        min-width: 8rem;
        line-height: 1;
    }

    .client-logo-wrapper{
        grid-column: 2/span 5;
        grid-row: 2/span 1;
        display: grid;
        grid-auto-flow: column;
        column-gap: 1.5rem;
        justify-content: start;
        align-items: end;
    }

}


@media only screen and (max-width:900px){

body{
    min-width: 300px;
}

/* Navigation Menu */
.nav-wrapper-mobile{
    display: none;
    position:fixed;
    top: 0;
    right: 0; 
    min-height: 100vh;
    z-index: 3;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out 0.1s;
}

.nav-wrapper-mobile__open{
    transform: translateX(0);
}

nav{
    width: 68vw;
    max-width: 800px;
    padding: 1rem;
}

.nav-wrapper-mobile{
    display:block;
}

.dropdown__menu{
    background-color: hsl(var(--clr-white));
    box-shadow: none;
    left: 70%;
}

.nav-wrapper-mobile > ul > li{
    width:100%;
}

.dropdown{
    margin-bottom: 0;
    transition:  280ms margin-bottom 128ms ease-in-out;
}

.dropdown:hover,
.dropdown:focus-within{
    margin-bottom: 8rem;
}

.flex-layout{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.hamburger-wrapper button,
.hamburger-wrapper-close button{
    display: inline;
}

.menu-close-icon{
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.menu-close-icon:hover,
.menu-close-icon:focus-within{
    transform: rotate(180deg);
  }

/* Hero Section */

main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.hero-image-wrapper{
    grid-row: 1/span 1;
    grid-column: 1/span 4;
    display: block;
    width: 100%;
    max-width: 800px; 
    }

.hero-image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.hero-content-wrapper{
    grid-row: 2/span 1;
    grid-column: 1/span 4;
    display: grid;
    gap: 0.75rem;
}

.hero-intro-section{
    display: grid;
    place-items: center;
    gap: 0.25rem;
    
}

.hero-title{
    font-size: var(--fs-800);
    font-weight: var(--fw-700);
    line-height: 1.5;
    width:fit-content;
    min-width: 300px;
}

.hero-text{
    width: 88%;
    min-width: 300px;
    text-align: center;
    font-size: clamp(0.8rem, 1rem, 2.5rem);
    line-height: 1.5;
    color: var(--paragraph-color);
}

.learn-more-btn-wrapper{
    display: grid;
    place-items: center;
}


.client-logo-wrapper{
    grid-row: 3/span 1;
    grid-column: 1/span 4;
}

.client-logo-wrapper{
    text-align: center;
    width: 100%;
    height: fit-content;
    
}

.client-logo-wrapper img{
    margin-inline: 0.5rem;
    width: 18%;
}

}


